/* share style css */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "lato", sans-serif;
  font-family: "Roboto", sans-serif;
}

/* Banner styles css start   */

.btn-primary {
  border-radius: 8px;
  background: #e55473;
  border: 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
}

/* Banner styles css start   */

.banner {
  /* margin:auto; */
  display: flex;
  padding: 50px 240px 0px 240px; /* TRBL */
  background-color: rgba(229, 84, 115, 0.1);
  align-items: center;
  justify-content: space-around;
}

.banner-title {
  color: #272727;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  /* width: 708px; */
  flex-direction: column;
}

.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  width: 634px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* .banner-img{
    margin: 0px;
    padding: 0px;
    
    background-position: right bottom, left top;
} */

/* Feature Section Styles Start  */

.featured {
  margin-top: 150px;
}

.featured-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.featured-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.featured-img {
  display: flex;
  justify-content: space-around;
  margin: 100px 240px;
  gap: 20px;
}

#f-img-one {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  object-fit: cover;
}
.img-one {
  padding: 110px 78px 0px 76px;
  margin: 0;
}

#f-img-two {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  width: 464px;
  height: 538px;
}

.img-two {
  padding: 110px 78px 0px 76px;
  margin: 0;
  margin-bottom: 60px;
}

#f-img-three {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  width: 464px;
  height: 538px;
}
.img-three {
  padding: 68px 78px 0px 76px;
  margin: 0;
}

figcaption {
  padding-top: 20px;
  text-align: center;
  font-weight: 700;
  text-decoration: underline;
}

/* Feature Section Styles END */

/* offer section styles start  */
.offer {
  /* margin:auto; */
  display: flex;
  padding: 50px 240px 0px 240px; /* TRBL */
  background-color: rgba(229, 84, 115, 0.1);
  align-items: center;
  justify-content: space-around;
}

.offer-content {
  text-align: center;
}

.offer-title {
  color: #272727;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  /* width: 708px; */
  flex-direction: column;
}

.offer-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  width: 634px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* display: flex; */
  padding-top: 32px;
  padding-bottom: 32px;
}

.btn-offer {
  border-radius: 8px;
  background: #e55473;
  border: 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  display: inline-flex;
  padding: 20px 43px;
  align-items: center;
  gap: 10px;
}

.offer-img {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* instagram style start  */

.instagram {
  /* justify-content: space-around; */
}

.inst-content {
  margin-top: 100px;
  /* padding: auto; */
  padding-left: 240px;
  padding-right: 240px;
}

.inst-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}

.inst-description {
  /* width: 594px; */
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
}

.inst-img {
  display: flex;

  align-items: center;
  padding: 30px 240px 0px 240px;
}
.inst-image {
  padding: 24px;
  /* width: 342px;
    height: 396px; */
  object-fit: cover;
}

/* lastest deal   */

.deal {
  padding: 0;
  margin-top: 80px;
  align-items: center;
  background-image: url(/assets/images/Rectangle-9.png);
  background-attachment: cover;
  text-align: center;
  width: 1440px;
  height: 449px;
  margin-left: 260px;
  margin-right: 2=00px;
  margin-bottom: 120px;
}

.deal-content {
  padding-top: 122px;
  display: block;
  justify-content: space-around;
  margin-bottom: 50px;
}

.deal-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

input {
  padding: 15px;
  width: 700px;
  margin-top: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  border-radius: 8px;
  border: none;
}

footer {
  background-color: black;
  height: 449px;
}

.footer-content {
  text-align: center;
}

.footer-title {
  color: white;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 128px;
  padding-bottom: 10px;
}

.text-f {
  color: #e55473;
}

.footer-description {
  width: 625px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-left: 648px;

  padding-bottom: 20px;
}

small {
  padding-bottom: 128px;
  color: rgba(255, 255, 255, 0.4);
}
